:root > * {
  --md-primary-fg-color: rgb(0, 77, 92);
  --md-primary-fg-color--light: rgb(0, 139, 167);
  --md-primary-fg-color--dark: rgb(0, 77, 92);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  color: rgb(0, 77, 92) !important;
}

p {
  text-decoration: none;
  color: black;
}

li::marker {
  color: rgb(0, 77, 92) !important;
}

html {
  scroll-behavior: smooth;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  margin: 1em;
  border-radius: 5px;
  background: rgb(235, 255, 235);
}

.card_maps {
  width: 29.9%;
  margin: 1em;
}

.img_maps{
  display: block;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.home-icon {
  width: 40%;
  display: block;
  padding-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 0 0;
}

.text {
  padding: 2px 16px;
  text-align: center;
}

.main-wrapper {
  display: flex;
  margin-bottom: 2em;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 480px) {
    .main-wrapper {
      display: flex;
      margin-bottom: 2em;
      flex-wrap: wrap;
    }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    margin: 1em;
    border-radius: 5px;
    background: rgb(235, 255, 235);
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .home-icon {
    width: 40%;
    display: block;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
  }

  .text {
    padding: 2px 16px;
    text-align: center;
  }

  .card_maps {
    width: 100%;
    margin: 1em;
  }
  
  .img_maps{
    display: block;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
  }
}
